<?= $this->Html->css('/css/dist/css/pages/error-pages.css') ?>
<section id="wrapper" class="error-page">
        <div class="error-box">
        <div class="error-body text-center" style="margin-top:-50px">
        <img src="/img/verified.gif" width="450">
                <h3 class="text-uppercase">Account Verified!</h3>
                <p class="text-muted m-t-30 m-b-30">Welcome to MicroBlog Chaste</p>
                <p class="text-muted">Post and Share Ideas</p>
                <a href="/users/login" class="btn btn-info btn-rounded waves-effect waves-light">Login now</a><br>
        </div>
        </div>
</section>