.hide_border td,
.hide_border th {
    border: none;
}

.hide_th {
    display: none;
}
li{
    list-style-type: none;
}
.pagination_post {
    display: inline-block;
    color: black;
}

.pagination_post li {
    color: black;
    float: left;
    padding: 3px 11px;
    border: 1px solid #ddd;
}

.pagination_post li.active {
    background-color: #fb9678;
    color: white;
    border: 1px solid #fb9678;
}

.pagination_post li:hover:not(.active) {
    background-color: #ddd;
}

.pagination_post li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination_post li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.error-message-comment{
    color:red;
    font-size:11px;
    display:none;
}


.error-message {
    color: red;
    font-size: 12px;
}

a {
    color: black;
}
