<?= $this->Html->css('/css/dist/css/pages/error-pages.css') ?>
<section id="wrapper" class="error-page">
    <div class="error-box">
        <div class="error-body text-center" style="margin-top:-50px">
            <img src="/img/robot_not_found.gif" width="400">
            <h3 class="text-uppercase">No result found</h3>
            <p class="text-muted m-t-30 m-b-30">We've searched for the post with <b>"<?= h($search); ?>"</b> word. <br> We did not find any post for your search</p>
            <a href="/Posts/" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Back to home</a><br>
        </div>
    </div>
</section>