<?= $this->Html->css('/css/dist/css/pages/error-pages.css') ?>
<section id="wrapper" class="error-page">
        <div class="error-box">
        <div class="error-body text-center" style="margin-top:-50px">
                <h1>404</h1>
                <h3 class="text-uppercase">PAGE NOT FOUND !</h3>
                <p class="text-muted m-t-30 m-b-30">YOU SEEM TO BE TRYING TO FIND THIS WAY HOME</p>
                <a href="/posts/" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Back to home</a><br>
                <img src="/img/robot_not_found.gif" width="400">
        </div>
        </div>
</section>